@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Get to Know Joel Hilton</h1>

<h3>The greatest movie watcher of all time</h3>

<h4>Below is some info about Joel Hilton</h4>

<div>
    <ul>
        <li><a href="https://www.qwcomedy.com/">Click here to see the Quick Wits Comedy club where he performs oft</a></li>
        <li><a href="https://baconsale.com/">Click here to see the BaconSale site that he owns</a></li>
    </ul>
    <a href="https://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" height="400" alt="BaconSale"></a>
</div>
