@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHilton.jpg" height="400" id="imgHilty" />
</div>
<div>
    <h2>You may be wondering what is a film or movie. Luckily the great Joel Hilty has shed his knowledge on us.</h2>
    <br />
    <br />
    <p>A film is like a story that you can watch on a screen. It's like a big picture that moves and shows different things happening. Sometimes people act in films, pretending to be different characters. Films can make you laugh, cry, or feel excited. They often tell interesting or exciting stories that you can enjoy with your eyes and ears. So, a film is like a big, moving picture that tells a story and makes you feel different emotions.</p>
</div>